
@import "reset.css";
@import "fonts.css";

body{
  background:  #000000;
}
/* box-1 */
.headline{
position: absolute;
font-family: Morganite , sans-serif;
font-style: italic;
font-weight: 800;
font-size: 300px;
line-height: 230px;
color: #FF5408;
left: 1082px;
right: 100px;
top: 147px;
-webkit-text-shadow:0 0 70px #7116A0;
text-shadow:0 0 70px #7116A0;
animation: blinking 1s linear infinite;
}
.show{
position: absolute;
top: 230px;
left: 89px;
}
.smile-left10{
position: absolute;
top: 147px;
left: 113px;
display: block;
background: url(img/smile-left10.svg);
}
.smile-left10:hover{
background: url(img/smile-back.svg);
display: none;
}
.under-cross10{
position: absolute;
top: 290px;
left: 432px;
right: 1091px;
z-index: 100;
}
.cross-left10{
position: absolute;
top: 326px;
right: 1091px;
left: 466px;
z-index: 200;
animation: rotateIn 1s linear infinite;
}
.microphone0{
position: absolute;
top: 147px;
left: 630px;
}
.line-left30{
position: absolute;
top: 434px;
left: 620px;
}
.pill-right10{
position: absolute;
top: 350px;
left: 869px;
animation: spin 1.05s linear infinite;
}
.bank-left10{
position: absolute;
top: 346px;
left: 115px;
}
.hand-line-left{
position: absolute;
top: 360px;
left: 60px;
}
.cross10 {
position: absolute;
top: 610px;
left: 980px;
transform-origin: 95px 105px;
animation: rotateIn 1s linear infinite;
}
.patch-left10{
position: absolute;
top: 480px;
left: 117px;
}
.bubble20{
position: absolute;
top: 556px;
left: 285px;
animation: rubberBand 1s linear infinite;
}
.bubble30{
position: absolute;
top: 600px;
left: 225px;
animation: rubberBand 1.05s linear infinite;
}
.bubble40{
position: absolute;
top: 630px;
left: 325px;
animation: rubberBand 1s linear infinite;
}
.bubble50{
position: absolute;
top: 560px;
left: 150px;
animation: rubberBand 0.85s linear infinite;
}
.briefcase-left10{
position: absolute;
top: 540px;
left: 395px;
}
.smile-left2{
position: absolute;
top: 820px;
left: 180px;
}
/* animation-box  */
 @keyframes rubberBand {
0% {
 transform: scale3d(1.10, 0.75, 1);
}
50% {
 transform: scale3d(0.90, 1.20, 1);
}
100% {
 transform: scale3d(1, 0.75, 1);
}
}
 @keyframes rotateIn {
to {
  transform: rotate3d(0, 0, 1, -360deg);
}
}
@keyframes spin {
0% {
  transform: translate3d(0, -200%, 0);
}
50% {
  transform: translate3d(0, 0, 0);
}
100% {
  transform: translate3d(0, -200%, 0);
}
}
@keyframes rotateIn2{
to {
 transform: rotate3d(0, 0, 1, 360deg);
}
}
@keyframes blinking{
50%{
 opacity: 1;
}
75% {
  opacity: 0;
}
}
}
/* box-2 */
.smile-left2{
position: absolute;
top: 810px;
left: 234px;
}
.line-left-violet{
position: absolute;
top: 820px;
left: 90px;
}
.box-of-pills{
position: absolute;
top: 970px;
left: 583px;
z-index: 100;
}
.pill-of-box{
position: absolute;
top: 1015px;
left: 605px;
z-index: 200;
animation: rotateIn 1s linear infinite;
}
.pill-of-box2{
position: absolute;
top: 1016px;
left: 680px;
z-index: 200;
animation: rotateIn 1s linear infinite;
}
.pill-of-box3{
position: absolute;
top: 1090px;
left: 605px;
z-index: 200;
animation: rotateIn 1s linear infinite;
}
.pill-of-box4{
position: absolute;
top: 1090px;
left: 680px;
z-index: 200;
animation: rotateIn 1s linear infinite;
}
.pill-of-box5{
position: absolute;
top: 1165px;
left: 605px;
z-index: 200;
animation: rotateIn 1s linear infinite;
}
.pill-of-box6{
position: absolute;
top: 1165px;
left: 680px;
z-index: 200;
animation: rotateIn 1s linear infinite;
}
.line-right-orange{
position: absolute;
top: 710px;
left: 764px;
}
.bubble41{
position: absolute;
top: 1060px;
left: 865px;
animation: rubberBand 0.70s linear infinite;
}
.bubble{
position: absolute;
top: 960px;
left: 890px;
animation: rubberBand 0.80s linear infinite;
}
.bubble31{
position: absolute;
top: 870px;
left: 930px;
animation: rubberBand 0.90s linear infinite;
}
.bottle-of-liquid{
position: absolute;
top: 1056px;
left: 1087px;
z-index: 100;
}
.liquid-for-bottle{
position: absolute;
left: 1095px;
top: 1150px;
z-index: 200;
animation: rubberBand 1s linear infinite;
}
.little-smile-right{
position: absolute;
top: 960px;
left: 1250px;
animation: rotateIn2 1s linear infinite;
}
.little-smile-right2{
position: absolute;
top: 1090px;
left: 1390px;
animation: rotateIn 1s linear infinite;
}
.bottle-of-liquid-left-1{
position: absolute;
top: 1160px;
left: 93px;
z-index: 100;
}
.liquid-for-bottle-1{
position: absolute;
top: 1167px;
left: 105px;
z-index: 200;
animation: blinking 0.80s linear infinite;
}
.bottle-of-liquid-left-2{
position: absolute;
top: 1160px;
left: 200px;
z-index: 100;
}
.liquid-for-bottle-2{
position: absolute;
top: 1167px;
left: 204px;
z-index: 200;
animation: blinking 0.77s linear infinite;
}
.bottle-of-liquid-left-0{
position: absolute;
top: 1160px;
left: 282px;
z-index: 100;
}
.liquid-for-bottle-0{
position: absolute;
top: 1167px;
left: 295px;
z-index: 200;
animation: blinking 0.70s linear infinite;
}
.bottle-of-liquid-left-3{
position: absolute;
top: 1160px;
left: 391px;
z-index: 100;
}
.liquid-for-bottle-3{
position: absolute;
top: 1167px;
left: 396px;
z-index: 200;
animation: blinking 0.90s linear infinite;
}
/* box-3 */
.bubble2-box-3{
position: absolute;
top: 1350px;
left: 60px;
animation: rubberBand 1s linear infinite;
}
.bubble4-box-3{
position: absolute;
top: 1300px;
margin-left: 250px;
animation: rubberBand 0.80s linear infinite;
}
.bubble5-box-3{
position: absolute;
top: 1315px;
left: 356px;
animation: rubberBand 0.90s linear infinite;
}
.bubble6-box-3{
position: absolute;
top: 1280px;
left: 113px;
animation: rubberBand 1s linear infinite;
}
.bubble9-box-3{
position: absolute;
top: 1380px;
left: 200px;
animation: rubberBand 0.85s linear infinite;
}
.syringe-left{
position: absolute;
top: 1380px;
left: 110px;
}
.doctor{
position: absolute;
top: 1230px;
left: 1100px;
}
.bubble20-box-3{
position: absolute;
top: 1280px;
left: 900px;
animation: rubberBand 1s linear infinite;
}
.bubble30-box-3{
position: absolute;
top: 1255px;
left: 1030px;
animation: rubberBand 0.85s linear infinite;
}
.bubble40-box-3{
position: absolute;
top: 1250px;
left: 800px;
animation: rubberBand 1s linear infinite;
}
.bubble60-box-3{
position: absolute;
top: 1330px;
left: 800px;
animation: rubberBand 0.80s linear infinite;
}
.bubble70-box-3{
position: absolute;
top: 1350px;
left: 980px;
animation: rubberBand 0.90s linear infinite;
}
/* box-4 */
.box-of-pills2{
position: absolute;
top: 1545px;
left: 325px;
z-index: 100;
}
/* .pill-of-box21{
position: absolute;
top: 1550px;
left: 360px;
z-index: 200;
}
.pill-of-box22{
position: absolute;
top: 1550px;
left: 280px;
z-index: 200;
animation: rotateIn2 1s linear infinite;
}
.pill-of-box23{
position: absolute;
top:1610
left: 360px;
z-index: 200;
animation: rotateIn2 1s linear infinite;
}
.pill-of-box24{
position: absolute;
top:1610
left: 360px;
z-index: 200;
animation: rotateIn2 1s linear infinite;
}
.pill-of-box25{
position: absolute;
top:1650
left: 440px;
z-index: 200;
animation: rotateIn2 1s linear infinite;
}
.pill-of-box26{
position: absolute;
top:1650
left: 440px;
z-index: 200;
animation: rotateIn2 1s linear infinite;
} */
.line-left-violet2{
position: absolute;
top: 1580px;
left: 230px;
}
.big-orange-line{
position: absolute;
top: 1420px;
left: 550px;
}
.thermometer{
position: absolute;
top: 1510px;
left: 676px;
}
.thermometer-degree{
position: absolute;
top: 1600px;
left: 702px;

}
.cross-and-oval{
position: absolute;
width: 150px;
top: 1670px;
left: 1117px;
animation: rubberBand 1s linear infinite;
}
.bubble1-box-4{
position: absolute;
top: 1870px;
left: 550px;
animation: rubberBand 0.90s linear infinite;
}
.bubble2-box-4{
position: absolute;
top: 1790px;
left: 550px;
animation: rubberBand 0.80s linear infinite;
}
.bubble3-box-4{
position: absolute;
top: 1720px;
left: 600px;
animation: rubberBand 1s linear infinite;
}
.vertical-pill{
position: absolute;
top: 1540px;
left: 894px;
animation: spin2 1.05s linear infinite;
}
.smile-left3{
position: absolute;
top: 1710px;
width: 170px;
left: 1420px;
}
/* box-5 */
.date{
position: absolute;
font-family: Morganite;
font-style: italic;
font-weight: 800;
font-size: 251px;
line-height: 250px;
color: #FF5408;
top: 1870px;
left: 115px;
-webkit-text-shadow:0 0 70px #7116A0;
text-shadow:0 0 70px #7116A0;
animation: blinking 2s linear infinite;
}
.moscow{
position: absolute;
font-family: Disket Mono , sans-serif;
font-style: normal;
font-weight: bold;
font-size: 75.8595px;
line-height: 85px;
color: #FF5408;
top: 2090px;
left: 115px;
-webkit-text-shadow:0 0 70px #7116A0;
text-shadow:0 0 70px #7116A0;
animation: blinking 2s linear infinite;
}
.location{
position: absolute;
top: 2190px;
left: 100px;
-webkit-text-shadow:0 0 70px #7116A0;
text-shadow:0 0 70px #7116A0;
animation: blinking 2s linear infinite;
}
.address{
position: absolute;
font-family: Disket Mono;
font-style: normal;
font-weight: normal;
font-size: 39px;
line-height: 43px;
color: #FF5408;
top: 2190px;
left: 220px;
-webkit-text-shadow:0 0 70px #7116A0;
text-shadow:0 0 70px #7116A0;
animation: blinking 2s linear infinite;
}
.long-line-violet-box-5{
position: absolute;
top: 2320px;
left: 380px;
}
.box-of-pills3{
position: absolute;
top: 2420px;
left: 405px;
z-index: 100;
}
/* .pill-of-box31{
position: absolute;
top: 1600px
left: 430px;
z-index: 200;
} */
/* .pill-of-box32{
position: absolute;
left: 520px;
top: -340px;
z-index: 200;
} */
/* .pill-of-box33{
position: absolute;
margin-left: 520px;
margin-top: -250px;
z-index: 200;
} */
/* .pill-of-box34{
position: absolute;
margin-left: 430px;
margin-top: -250px;
z-index: 200;
} */
/* .pill-of-box35{
position: absolute;
margin-left: 520px;
margin-top: -170px;
z-index: 200;
} */
/* .pill-of-box36{
position: absolute;
margin-left: 430px;
margin-top: -170px;
z-index: 200;
} */
.briefcase-box-5{
position: absolute;
top: 2620px;
left: 615px;
z-index: 100;
}
.cross-briefcase-box-5{
position: absolute;
top: 2655px;
left: 690px;
z-index: 200;
animation: rotateIn 1.6s linear infinite;
}
.bank-box-5{
position: absolute;
top: 2230px;
left: 700px;
}
.syringe-small{
position: absolute;
top: 2342px;
left: 955px;
}
.big-line-violet-box-5{
position: absolute;
top: 2000px;
left: 1270px;
}
.syringe-big{
position: absolute;
top: 2160px;
left: 1400px;
}
.hand{
position: absolute;
top: 2000px;
left: 1080px;
animation: rotateIn2 2s linear infinite;
}
.circle-for-cross{
position: absolute;
top: 2780px;
left: 1440px;
z-index: 100;
animation: rotateIn 0.60s linear infinite;
}
.cross-box-5-violet{
position: absolute;
top: 2810px;
left: 1465px;
z-index: 200;
animation: rubberBand 0.70s linear infinite;
}
.bank-triangle{
position: absolute;
top: 2580px;
left: 60px;
z-index: 100;
}
.liquid-triangle-box-5{
position: absolute;
top: 2740px;
left: 110px;
z-index: 200;
animation: blinking 0.40s linear infinite;
}
.bubble-box-5{
position: absolute;
top: 2425px;
left: 100px;
animation: blinking 1s linear infinite;
}
.bubble2-box-5{
position: absolute;
top: 2476px;
left: 205px;
animation: blinking 0.80s linear infinite;
}
.bubble3-box-5{
position: absolute;
top: 2340px;
left: 263px;
animation: blinking 1s linear infinite;
}
.bubble4-box-5{
position: absolute;
top: 2590px;
left: 60px;
animation: blinking 0.90s linear infinite;
}
.cross-box-5-orange{
position: absolute;
top: 2770px;
left: 470px;
animation: rotateIn2 1s linear infinite;
}
.patch-box-5{
position: absolute;
top: 2730px;
left: 870px;
}
.thermometer-box-5{
position: absolute;
top: 2870px;
left: 870px;
}
.bank-circle-box-5{
position: absolute;
top: 2400px;
left: 1130px;
width: 230px;
z-index: 100;
}
.liquid-circle-box-5{
position: absolute;
top: 2540px;
left: 1148px;
width: 200px;
z-index: 200;
animation: blinking 0.80s linear infinite;
}
.bubble1-box-5{
position: absolute;
top: 2325px;
left: 1260px;
animation: blinking 0.90s linear infinite;
}
.bubble20-box-5{
position: absolute;
top: 2450px;
left: 880px;
animation: blinking 1s linear infinite;
}
.bubble30-box-5{
position: absolute;
top: 2300px;
left: 880px;
animation: blinking 0.80s linear infinite;
}
.bubble40-box-5{
position: absolute;
top: 2410px;
left: 1110px;
animation: blinking 0.90s linear infinite;
}
.bubble50-box-5{
position: absolute;
top: 2370px;
left: 1310px;
width: 70px;
animation: blinking 1s linear infinite;
}
/* media */
@media (max-width:1680px){
}
@media (max-width:1440px){
.headline{
font-size: 18vw;
left: 1075px;
}
.show{
font-size: 18vw;
top: 210px;
left: 60px;
 }
.smile-left10{
width: 25vw;
  }
.smile-left10:hover{
width: 25vw;
  }
.under-cross10{
width: 10vw;
  }
.cross-left10{
width: 6vw;
}
.microphone0{
width: 15vw;
}
.cross10{
width: 13vw;
}
.doctor{
width: 30vw;
}
.line-right-orange{
width: 45vw;
left: 800px;
}
.bubble41{
width: 4vw;
top: 1030px;
left: 890px;
}
.bubble{
width: 4vw;
top: 940px;
}
.bubble31{
width: 4vw;
top: 840px;
}
.big-orange-line{
width: 55vw;
}
.smile-left3{
width: 10vw;
left: 1357px;
}
.thermometer{
width: 4.5vw;
}
.thermometer-degree{
width: 1.5vw;
top: 1570px;
left: 698px;
}
.vertical-pill{
left: 876px;
}
.cross-and-oval{
left: 1080px;
top: 1650px;
}
.big-line-violet-box-5{
width: 20vw;
left: 1200px;
}
.hand{
width: 10vw;
left: 1020px;
}
.bank-circle-box-5{
width: 13vw;
left: 1111px;
}
.liquid-circle-box-5{
width: 11vw;
left: 1126px;
top: 2520px;
}
.syringe-big{
width: 5vw;
left: 1320px;
top: 2170px;
}
.bubble50-box-5{
width: 3vw;
left: 1250px;
}
.bubble1-box-5{
left: 1190px;
}
.circle-for-cross{
left: 1370px;
top: 2700px;
}
.cross-box-5-violet{
left: 1395px;
top: 2730px;
}
}
@media (max-width:1366px){
.headline{
font-size: 17vw;
left: 1075px;
}
.show{
font-size: 17vw;
top: 187px;
left: 60px;
}
.cross10{
width: 12vw;
}
.bubble41{
width: 4vw;
top: 1010px;
}
.bubble{
width: 3vw;
top: 930px;
left: 910px;
}
.little-smile-right2{
width: 9vw;
top: 1100px;
left: 1300px;
}
.little-smile-right{
width: 9vw;
top: 960px;
left: 1200px;
}
.bubble1-box-4{
width: 3vw;
}
.vertical-pill{
left: 854px;
}
.cross-and-oval{
width: 9vw;
left: 1065px;
}
.doctor{
width: 28vw;
}
.smile-left3{
top: 1680px;
left: 1310px;
}
.big-line-violet-box-5{
width: 18vw;
top: 1940px;
left: 1190px;
}
.syringe-big{
width: 5vw;
left: 1300px;
top: 2060px;
}
.bank-circle-box-5{
width: 11vw;
top: 2340px;
left: 1100px;
}
.liquid-circle-box-5{
width: 9vw;
left: 1115px;
top: 2440px;
}
.long-line-violet-box-5{
width: 50vw;
top: 2250px;
left: 400px;
}
.bubble40-box-5{
top: 2320px;
left: 1060px;
}
.bubble1-box-5{
top: 2280px;
}
.bubble50-box-5{
top: 2340px;
}
.syringe-small{
top: 2260px;
left: 940px;
}
.bank-box-5{
top: 2150px;
}
.bubble20-box-5{
top: 2370px;
}
.bubble30-box-5{
top: 2210px;
left: 880px;
}
.moscow{
font-size: 5vw;
top: 2040px;
left: 115px;
}
.date{
font-size: 16vw;
top: 1840px;
left: 110px;
}
.address{
font-size: 3vw;
top: 2136px;
left: 220px;
}
.location{
width: 6vw;
top: 2140px;
left: 115px;
}
.circle-for-cross{
width: 8vw;
left: 1320px;
top: 2580px;
}
.cross-box-5-violet{
left: 1395px;
top: 2730px;
}
.cross-box-5-violet{
width: 6vw;
left: 1336px;
top: 2600px;
}
.briefcase-box-5{
top: 2540px;
width: 16vw;
}
.cross-briefcase-box-5{
top: 2570px;
}
.patch-box-5{
width: 18vw;
top: 2640px;
left: 850px;
}
.box-of-pills3{
top: 2340px;
left: 419px;
}
.thermometer-box-5{
top: 2757px;
left: 840px;
}
.cross-box-5-orange{
top: 2670px;
}
.bank-triangle{
width: 26vw;
top: 2500px;
}
.liquid-triangle-box-5{
top: 2650px;
}
.bubble2-box-5{
top: 2390px;
}
.bubble3-box-5{
top: 2280px;
}
.bubble4-box-5{
top: 2530px;
}
}
@media (max-width:1280px){
.headline{
font-size: 18vw;
left: 950px;
}
.show{
font-size: 18vw;
top: 190px;
left: 45px;
}
.line-left30{
display: none;
}
.microphone0{
width: 14vw;
left: 630px;
}
.pill-right10{
top: 250px;
left: 850px;
}
.cross10{
display: none;
}
.cross-left10{
left: 458px;
}
.line-right-orange{
width: 43vw;
top: 540px;
left: 620px;
}
.bubble41{
display: none;
}
.bubble31{
display: none;
}
.bubble{
display: none;
}
.little-smile-right{
width: 19vw;
top: 800px;
left: 980px;
}
.little-smile-right2{
width: 19vw;
top: 1100px;
left: 1100px;
}
.bottle-of-liquid{
width: 15vw;
top: 1030px;
left: 800px;
}
.liquid-for-bottle{
width: 13vw;
left: 815px;
top: 1170px;
}
.big-orange-line{
width: 53vw;
}
.doctor{
width: 30vw;
top: 1290px;
left: 1020px;
}
.big-orange-line{
width: 50vw;
top: 1460px;
left: 590px;
}
.vertical-pill{
width: 5vw;
left: 848px;
}
.cross-and-oval{
left: 1020px;
}
.smile-left3{
display: none;
}
.big-line-violet-box-5{
width: 20vw;
top: 1680px;
left: 1160px
}
.syringe-big{
width: 5vw;
left: 1270px;
top: 1830px;
}
.hand{
width: 12vw;
top: 1900px;
left: 980px;
}
.bank-circle-box-5{
width: 13vw;
top: 2440px;
left: 1110px;
}
.liquid-circle-box-5{
width: 11vw;
left: 1123px;
top: 2540px;
}
.bubble40-box-5{
top: 2390px;
left: 1060px;
}
.bubble1-box-5{
left: 1070px;
}
.bubble50-box-5{
top: 2200px;
left: 1160px;
}
.bubble20-box-5{
left: 860px
}
.circle-for-cross{
width: 11vw;
left: 1260px;
top: 2660px;
}
.cross-box-5-violet{
width: 8vw;
left: 1280px;
top: 2680px;
}
.bank-box-5{
top: 2140px;
left: 670px;
}
.box-of-pills3{
top: 2330px;
left: 410px;
}
.briefcase-box-5{
top: 2510px;
left: 606px;
}
.cross-briefcase-box-5{
top: 2540px;
left: 670px;
}
.syringe-small{
top: 2250px;
left: 910px;
}
.liquid-triangle-box-5{
left: 100px;
}
.cross-box-5-orange{
top: 2660px;
}
}
@media (max-width:1152px){
.headline{
font-size: 20vw;
}
.show{
font-size: 20vw;
top: 190px;
left: 64px;
}
.smile-left10{
width: 33vw;
}
.under-cross10{
top: 326px;
left: 440px;
}
.cross-left10{
top: 356px;
left: 463px;
}
.microphone0{
width: 17vw;
left: 610px;
}
.liquid-for-bottle{
top: 1150px;
}
.doctor{
top: 1320px;
}
.cross-and-oval{
left: 976px;
top: 1620px;
}
.vertical-pill{
left: 820px;
}
.thermometer-degree{
left: 694px;
}
.big-line-violet-box-5{
top: 1664px;
left: 1100px;
}
.syringe-big{
left: 1210px;
top: 1800px;
}
.hand{
left: 940px;
}
.bank-box-5{
width: 12vw;
top: 2170px;
left: 640px;
}
.bubble20-box-5{
top: 2340px;
left: 786px;
}
.bubble30-box-5{
top: 2150px;
left: 780px;
}
.syringe-small{
top: 2220px;
left: 850px;
}
.box-of-pills3{
top: 2326px;
left: 390px;
}
.briefcase-box-5{
top: 2490px;
left: 585px;
}
.cross-briefcase-box-5{
top: 2510px;
left: 637px;
}
.patch-box-5{
top: 2570px;
left: 780px;
}
.liquid-triangle-box-5{
width: 20vw;
top: 2630px;
left: 100px;
}
.cross-box-5-orange{
top: 2645px;
left: 440px;
}
.thermometer-box-5{
top: 2665px;
left: 780px;
}
.bubble4-box-5{
left: 50px;
}
.bubble40-box-5{
left: 1020px;
}
.bubble1-box-5{
left: 1024px;
}
.bank-circle-box-5{
top: 2400px;
left: 1055px;
}
.liquid-circle-box-5{
left: 1070px;
top: 2500px;
}
.bubble50-box-5{
left: 1050px;
}
.circle-for-cross{
top: 2230px;
left: 1226px;
}
.cross-box-5-violet{
top: 2248px;
left: 1245px;
}
.little-smile-right{
width: 22vw;
top: 780px;
left: 960px;
}
.little-smile-right2{
width: 22vw;
top: 1080px;
left: 1080px;
}
}
@media (max-width:1024px){
.line-right-orange{
display: none;
}
.under-cross10{
width: 12vw;
}
.cross-left10{
width: 8vw;
}
.little-smile-right{
width: 28vw;
top: 650px;
left: 800px;
}
.little-smile-right2{
width: 28vw;
top: 900px;
left: 980px;
}
.bottle-of-liquid{
width: 17vw;
}
.liquid-for-bottle{
width: 14vw;
top: 1156px;
}
.bubble40-box-3{
left: 760px;
}
.bubble60-box-3{
top: 1340px;
left: 760px;
}
.bubble20-box-3{
left: 820px;
}
.bubble70-box-3{
left: 880px;
}
.bubble30-box-3{
left: 920px;
}
.doctor{
width: 37vw;
top: 1240px;
left: 950px;
}
.big-orange-line{
top: 1430px;
left: 620px;
}
.cross-and-oval{
top: 1580px;
left: 965px;
}
.vertical-pill{
top: 1500px;
left: 825px;
}
.big-line-violet-box-5{
width: 22vw;
top: 1610px;
left: 1070px;
}
.box-of-pills2{
width: 23vw;
top: 1490px;
left: 310px;
}
.line-left-violet2{
display: none;
}
.thermometer{
top: 1480px;
left: 694px;
}
.thermometer-degree{
top: 1530px;
left: 710px;
}
.syringe-big{
width:6vw;
left: 1170px;
top: 1725px;
}
.bubble3-box-4{
top: 1570px;
left: 620px;
}
.bubble2-box-4{
top: 1640px;
left: 620px;
}
.bubble1-box-4{
width: 4vw;
top: 1720px;
left: 620px;
}
.hand{
top: 1850px;
left: 920px;
}
.date{
font-size: 30vw;
top: 1760px;
left: 110px;
}
.moscow{
font-size: 8vw;
top: 1990px;
}
.address{
font-size: 5vw;
top: 2100px;
}
.location{
width: 9vw;
top: 2096px;
}
.syringe-left{
width: 6vw;
}
.bubble50-box-5{
width: 5vw;
top: 2180px;
left: 960px;
}
.bubble1-box-5{
left: 950px;
}
.bubble40-box-5{
left: 950px;
}
.bank-circle-box-5{
width: 16vw;
top: 2290px;
left: 1020px;
}
.liquid-circle-box-5{
width: 13vw;
left: 1035px;
top: 2400px;
}
.circle-for-cross{
top: 2200px;
left: 1200px;
}
.cross-box-5-violet{
top: 2220px;
left: 1216px;
}
.bank-box-5{
width: 10vw;
top: 2210px;
left: 620px;
}
.bubble20-box-5{
left: 740px;
}
.bubble30-box-5{
width: 6vw;
top: 2220px;
left: 740px;
}
.syringe-small{
top: 2187px;
left: 800px;
}
.box-of-pills3{
width: 15vw;
}
.briefcase-box-5{
top: 2470px;
left: 565px;
}
.cross-briefcase-box-5{
top: 2490px;
left: 612px;
}
.cross-box-5-orange{
width: 13vw;
top: 2600px;
left: 420px;
}
.patch-box-5{
width: 20vw;
top: 2540px;
left: 740px;
}
.thermometer-box-5{
  width: 45vw;
top: 2670px;
left: 745px;
}
}
