
@import "reset.css";
@import "fonts.css";

body{
  background:  #000000;
}
/* box-1 */
.headline{
position: absolute;
font-family: Morganite , sans-serif;
font-style: italic;
font-weight: 800;
font-size: 300px;
line-height: 230px;
color: #FF5408;
left: 1082px;
right: 100px;
top: 147px;
}
.show{
position: absolute;
right: 66px;
padding: 13px;
}
.smile-left10{
position: absolute;
top: 147px;
left: 113px;
}
.under-cross10{
position: absolute;
top: 290px;
left: 432px;
right: 1091px;
z-index: 100;
}
.cross-left10{
position: absolute;
top: 326px;
right: 1091px;
left: 466px;
z-index: 200;
animation: rotateIn 1s linear infinite;
}
.microphone0{
position: absolute;
top: 147px;
left: 630px;
}
.line-left30{
position: absolute;
top: 434px;
left: 620px;
}
.pill-right10{
position: absolute;
top: 350px;
left: 869px;
animation: spin 1.05s linear infinite;
}
.bank-left10{
position: absolute;
top: 346px;
left: 115px;
}
.hand-line-left{
position: absolute;
top: 360px;
left: 60px;
}
.cross10 {
position: absolute;
top: 630px;
left: 990px;
transform-origin: 95px 105px;
animation: rotateIn 1s linear infinite;
}
.patch-left10{
position: absolute;
top: 480px;
left: 117px;
}
.bubble20{
position: absolute;
top: 556px;
left: 285px;
animation: rubberBand 1s linear infinite;
}
.bubble30{
position: absolute;
top: 600px;
left: 225px;
animation: rubberBand 1.05s linear infinite;
}
.bubble40{
position: absolute;
top: 630px;
left: 325px;
animation: rubberBand 1s linear infinite;
}
.bubble50{
position: absolute;
top: 560px;
left: 150px;
animation: rubberBand 0.85s linear infinite;
}
.briefcase-left10{
position: absolute;
top: 540px;
left: 395px;
}
/* animatin-box-1  */
 @keyframes rubberBand {
0% {
 transform: scale3d(1.10, 0.75, 1);
}
50% {
 transform: scale3d(0.90, 1.20, 1);
}
100% {
 transform: scale3d(1, 0.75, 1);
}
}
 @keyframes rotateIn {
  to {
    transform: rotate3d(0, 0, 1, -360deg);
  }
}
@keyframes spin {
0% {
  transform: translate3d(0, -200%, 0);
}
50% {
  transform: translate3d(0, 0, 0);
}
100% {
  transform: translate3d(0, -200%, 0);
}
}
/* box-2 */
/* .smile-left2{
margin-left: 234px;
margin-top: 130px;
}
.line-left-violet{
margin-left: 90px;
margin-top: -193px;
}
.box-of-pills{
margin-left: 583px;
margin-top: -510px;
z-index: 100;
}
.pills-of-box{
position: absolute;
margin-left: 590px;
margin-top: -215px;
z-index: 200;
}
.pill-of-box{
position: absolute;
margin-left: 16px;
margin-top: -6px;
animation: rotateIn 1s linear infinite;
}
.pill-of-box2{
position: absolute;
margin-left: 90px;
margin-top: -6px;
animation: rotateIn 1.05s linear infinite;
}
.pill-of-box3{
position: absolute;
margin-left: 16px;
margin-top: 80px;
animation: rotateIn 1.08s linear infinite;
}
.pill-of-box4{
position: absolute;
margin-left: 90px;
margin-top: 80px;
animation: rotateIn 1.04s linear infinite;
}
.pill-of-box5{
position: absolute;
margin-left: 16px;
margin-top: 160px;
animation: rotateIn 1.06s linear infinite;
}
.pill-of-box6{
position: absolute;
margin-left: 90px;
margin-top: 160px;
animation: rotateIn 1.07s linear infinite;
}
.line-right-orange{
margin-left: 764px;
margin-top: -540px;
}
.bubble41{
margin-left: 876px;
margin-top: -170px;
}
.bubble21{
margin-left: 910px;
margin-top: -120px;
}
.bubble{
margin-left: 870px;
margin-top: -115px;
}
.bubble31{
margin-left: 916px;
margin-top: -107px;
}
.bottle-of-liquid{
position: absolute;
margin-left: 1087px;
margin-top: 127px;
z-index: 100;
}
.liquid-for-bottle{
position: absolute;
margin-left: 1095px;
margin-top: 220px;
z-index: 200;
}
.little-smile-right{
margin-left: 1270px;
margin-top: 40px;
}
.little-smile-right2{
margin-left: 1427px;
margin-top: 60px;
}
.bottle-of-liquid-left-1{
position: absolute;
margin-left: 93px;
margin-top: -50px;
z-index: 100;
}
.liquid-for-bottle-1{
position: absolute;
margin-left: 105px;
margin-top: -43px;
z-index: 200;
}
.bottle-of-liquid-left-2{
position: absolute;
margin-left: 200px;
margin-top: -50px;
z-index: 100;
}
.liquid-for-bottle-2{
position: absolute;
margin-left: 204px;
margin-top: -43px;
z-index: 200;
}
.bottle-of-liquid-left-0{
position: absolute;
margin-left: 282px;
margin-top: -50px;
z-index: 100;
}
.liquid-for-bottle-0{
position: absolute;
margin-left: 295px;
margin-top: -43px;
z-index: 200;
}
.bottle-of-liquid-left-3{
position: absolute;
margin-left: 391px;
margin-top: -50px;
z-index: 100;
}
.liquid-for-bottle-3{
position: absolute;
margin-left: 396px;
margin-top: -43px;
z-index: 200;
}
/* box-3 */
/* .bubble2-box-3{
margin-top: 160px;
margin-left: 60px;
}
.bubble3-box-3{
margin-top: -90px;
margin-left: 190px;
}
.bubble4-box-3{
margin-top: -140px;
margin-left: 260px;
}
.bubble5-box-3{
margin-top: 12px;
margin-left: 300px;
}
.bubble6-box-3{
margin-top: -90px;
margin-left: 360px;
}
.bubble7-box-3{
margin-top: -60px;
margin-left: 410px;
}
.bubble8-box-3{
margin-top: -15px;
margin-left: 100px;
}
.bubble9-box-3{
margin-top: -60px;
margin-left: 160px;
}
.bubble-box-3{
margin-top: 15px;
margin-left: 400px;
}
.syringe-left{
margin-top: 15px;
margin-left: 110px;
}
.doctor{
margin-top: -630px;
margin-left: 1090px;
}
.bubble20-box-3{
margin-top: -450px;
margin-left: 800px;
}
.bubble30-box-3{
margin-top: 10px;
margin-left: 860px;
} */
/* box-4 */
/* .line-left-violet2{
margin-top: 190px;
margin-left: 230px;
}
.box-of-pills2{
position: absolute;
margin-top: -440px;
margin-left: 325px;
z-index: 100;
}
.pill-of-box21{
position: absolute;
margin-left: 280px;
margin-top: -415px;
z-index: 200;
}
.pill-of-box22{
position: absolute;
margin-left: 280px;
margin-top: -335px;
z-index: 200;
}
.pill-of-box23{
position: absolute;
margin-left: 360px;
margin-top: -415px;
z-index: 200;
}
.pill-of-box24{
position: absolute;
margin-left: 360px;
margin-top: -335px;
z-index: 200;
}
.pill-of-box25{
position: absolute;
margin-left: 440px;
margin-top: -415px;
z-index: 200;
}
.pill-of-box26{
position: absolute;
margin-left: 440px;
margin-top: -335px;
z-index: 200;
}
.big-orange-line{
margin-top: -500px;
margin-left: 540px;
}
.thermometer{
margin-top: -680px;
margin-left: 660px;
}
.thermometer-degree{
margin-top: -460px;
margin-left: 685px;
}
.cross-and-oval{
margin-top: -300px;
margin-left: 1126px;
}
.bubble1-box-4{
margin-top: 40px;
margin-left: 550px;
}
.bubble2-box-4{
margin-top: -170px;
margin-left: 550px;
}
.bubble3-box-4{
margin-top: -130px;
margin-left: 590px;
}
.vertical-pill{
margin-top: -230px;
margin-left: 885px;
}
.smile-left3{
margin-top: -100px;
margin-left: 1390px;
} */
/* box-5 */
/* .date{
font-family: Morganite;
font-style: italic;
font-weight: 800;
font-size: 251px;
line-height: 250px;
color: #FF5408;
margin-left: 100px;
margin-top: -160px;
}
.moscow{
font-family: Disket Mono , sans-serif;
font-style: normal;
font-weight: bold;
font-size: 75.8595px;
line-height: 85px;
color: #FF5408;
margin-left: 100px;
margin-top: -25px;
}
.location{
margin-left: 100px;
margin-top: 26px;
}
.address{
font-family: Disket Mono;
font-style: normal;
font-weight: normal;
font-size: 39px;
line-height: 43px;
color: #FF5408;
margin-left: 220px;
margin-top: -90px;
}
.long-line-violet-box-5{
margin-left: 400px;
margin-top: 40px;
}
.box-of-pills3{
position: absolute;
margin-left: 430px;
margin-top: -300px;
z-index: 100;
}
.pill-of-box31{
position: absolute;
margin-left: 430px;
margin-top: -340px;
z-index: 200;
}
.pill-of-box32{
position: absolute;
margin-left: 520px;
margin-top: -340px;
z-index: 200;
}
.pill-of-box33{
position: absolute;
margin-left: 520px;
margin-top: -250px;
z-index: 200;
}
.pill-of-box34{
position: absolute;
margin-left: 430px;
margin-top: -250px;
z-index: 200;
}
.pill-of-box35{
position: absolute;
margin-left: 520px;
margin-top: -170px;
z-index: 200;
}
.pill-of-box36{
position: absolute;
margin-left: 430px;
margin-top: -170px;
z-index: 200;
}
.briefcase-box-5{
position: absolute;
margin-left: 640px;
margin-top: -95px;
z-index: 100;
}
.cross-briefcase-box-5{
position: absolute;
margin-left: 710px;
margin-top: -60px;
z-index: 200;
}
.bank-box-5{
margin-left: 710px;
margin-top: -475px;
}
.syringe-small{
margin-left: 976px;
margin-top: -170px;
}
.big-line-violet-box-5{
margin-left: 1260px;
margin-top: -650px;
}
.syringe-big{
margin-left: 1400px;
margin-top: -750px;
}
.circle-for-cross{
position: absolute;
margin-left: 1430px;
margin-top: 160px;
z-index: 100;
}
.cross-box-5-violet{
position: absolute;
margin-left: 1455px;
margin-top: 186px;
z-index: 200;
}
.bank-triangle{
position: absolute;
margin-left: 50px;
margin-top: -40px;
z-index: 100;
}
.liquid-triangle-box-5{
position: absolute;
margin-left: 100px;
margin-top: 120px;
z-index: 200;
}
.cross-box-5-orange{
margin-left: 470px;
margin-top: 150px;
}
.patch-box-5{
margin-left: 880px;
margin-top: -192px;
}
.thermometer-box-5{
margin-left: 880px;
margin-top: 13px;
}
.bank-circle-box-5{
position: absolute;
margin-top: -460px;
margin-left: 1150px;
z-index: 100;
}
.liquid-circle-box-5{
position: absolute;
margin-top: -335px;
margin-left: 1161px;
z-index: 200;
}
.hand{
margin-left: 1080px;
margin-top: -910px;
} */ */
